body {
    margin: auto;
}
header {
    height: 70px;
}
.imagebox img{
    width: 100%;
}
#logo a {
    float: left;
    text-decoration: none;
    font-size: 30px;
    font-style: italic;
    padding: 10px;
    display: block;
}
#cart {
    padding: 10px;
}
nav {
	overflow: hidden;
	float: right;
}
nav li {
    float: left;
    list-style-type: none;
}
nav li a {
    font-size: 30px;
    text-decoration: none;
    padding: 0 10px;
    margin-bottom: 10px;
    float: auto;
}
figure {
    width: 30%;
    display: inline-block;
    text-align-last: center;
    margin: 10px;
}
